@mainColor: #ffffff;
@auxColor: #54e377;

@img_size:150px;
body{
  background-image: url(http://weblabfon.com/_ld/2/242_wood01.jpg);
}
.row{
margin: auto;
}

.hidden{
  display:none;
}

@import "pizza/pizza-card";
@import "pizza/right-pannel";
@import "pizza/left-pannel";
@import "pizza/header";
@import "pizza/footer";
@import "pizza/personal-data";