<% include common/header.ejs %>
<% include common/rightPanel.ejs %>


<div class="main-container container-fluid">
    <div class="row">

        <div class="col-md-9 col-sm-6 left-pannel">

            <div class="name"><span class="header-title">Усі Піци</span></div>

            <div class="nav navbar-nav nav-types navbar ">
                <li class="active"><a id="all" href="#">Усі<span class="badge badge-lp">8</span></a></li>
                <li><a id="meat" href="#">З м'ясом</a></li>
                <li><a id="seafood" href="#">З морепродуктами</a></li>
                <li><a id="vega" href="#">Вега</a></li>
            </div>

            <div class="row ">

                <div id="pizza_list">

                </div>

            </div>

        </div>
    </div>
</div>

<% include common/footer.ejs %>