<% include common/header.ejs %>
<% include common/rightPanel.ejs %>

<div class="main-container container-fluid">
    <div class="row">

        <div class="col-md-9 col-sm-6 left-pannel">

            <div class="personal-data">
                <div class="data-header">1. Контактні дані</div>
                <span class="forms-pan col-md-7 col-sm-6">

                    <form class="form-horizontal" id="form-to-fill-in" role="form" method="post">

                        <div class="form-group has-feedback fname">
                            <div class="status">
                                <div class="row">
                                    <label class="control-label col-sm-2">Ім'я:</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="forename"
                                               placeholder="Введіть ім'я" aria-describedby="helpBlock2">
                                        <span id="helpBlock1"
                                              class="help-block">Введіть тільки власне ім’я, без цифр</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback num">
                            <div class="status">
                                <div class="row">
                                    <label class="control-label col-sm-2">Номер:</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="number"
                                               placeholder="Введіть номер" aria-describedby="helpBlock2">
                                        <span id="helpBloc2" class="help-block">Введіть номер телефону у форматі +380...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback ad">
                            <div class="status">
                                <div class="row">
                                    <label class="control-label col-sm-2">Адреса:</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control " id="address"
                                               placeholder="Введіть адресу" aria-describedby="helpBlock2">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                     </span>
                <span class="order-info-pan col-md-5 col-sm-6"><h4>Інформація про замовлення</h4>
<h5>Приблизний час замовлення:
    <span id="time">невідомий</span>
</h5>
<h5>Адреса замовлення:
    <span id="order-address">невідома</span>
</h5>
                </span>
                <button type="button" class="btn btn-info next">Далі<span
                            class="glyphicon glyphicon-chevron-right"></span></button>

            </div>

            <div id="googleMap"></div>
            <div id="liqpay"></div>

        </div>
    </div>
</div>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCdm7I_lfOWmpDHZ7zRUr6GLNWfgBGeiJU"></script>
<script src="//static.liqpay.com/libjs/checkout.js"></script>

<% include common/footer.ejs %>