<div class="main-container container-fluid">
    <div class="discount-footer">
        <div class="discount-label">
        </div>
        <div class="discount-text">
            Цього тижня
            </br>
            на все
            </br>
            -20%
        </div>
    </div>
    <div class="row">
            <div class="footer">
                <div class="text-box">
                    Доставка піци не здійснюється.
                </div>
            </div>
    </div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>