<!--RIGHT_PANNEL-->

<div class="col-md-3  col-sm-6 right-pannel">
    <span id="header-title-2">Замовлення</span><span class="badge badge-rp">0</span>
    <button type="button" class="btn btn-link reset">Очистити замовлення</button>

    <div class="ordered-display">

        <div id="motivation">Зголодніли?<br>
            Замовте КМАПІЦУ!
        </div>

        <div id="cart">
        </div>
    </div>

    <div class="pan-footer">
        <span id="sum"><strong>До сплати</strong></span>
        <span class="total-price"></span>
        <button type="button" class="btn btn-warning order">Замовити</button>
    </div>

</div>